<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form method="POST" th:action="@{/admin/pizze/create}">
		<label>nome:</label>
		<input type="text" name="nome">
		<br>
		<label>descrizione:</label>
		<textarea rows="4" cols="6" name="descrizione"></textarea>
		<br>
		<label>foroUrl:</label>
		<textarea rows="4" cols="6" name="fotoUrl"></textarea>
		<br>
		<label>prezzo:</label>
		<input type="number" name="prezzo">
		<br>		
		<div th:each="ingrediente : ${ingredienti}">
			<input th:id="${'ingrediente-' + ingrediente.id}" th:value="${ingrediente.id}" type="checkbox" name="ingredienti">
			<label th:for="${'ingrediente-' + ingrediente.id}">[[ ${ingrediente.nome} ]]</label>
		</div>
		<button>Crea</button>
		<a class="btn btn-primary mt-3" th:href="@{/user/pizze}">indietro</a>	
	</form>

</body>
</html>