<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form class="d-flex flex-column align-items-center" th:action="@{'/admin/pizze/' + ${pizzaId} + '/offerta-speciale/create'}" method="POST" th:object="${offertaSpeciale}">
		<h1 class="mb-3">Crea Offerta</h1>
		
		<label>Titolo</label>
		<input class="mb-3" type="text" name="titolo">
		
		<label>Data inizio</label>
		<input class="mb-3" type="date" name="dataInizio">
		
		<label>Data fine</label>
		<input class="mb-3" type="date" name="dataFine">
		
		<label>Percentuale sconto</label>
		<input class="mb-3" type="number" min="0" name="percentualeSconto">
		
		<button class="btn btn-success">Crea</button>
		<a class="btn btn-primary mt-3" th:href="@{/user/pizze}">indietro</a>	
	</form>
	
</body>
</html>