<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<form method="POST" th:action="@{/admin/pizze/update/{id}(id = ${pizza.id})}">
		<label>nome:</label>
		<input type="text" name="nome" th:value="${pizza.nome}">
		<br>
		<label>descrizione:</label>
		<textarea rows="4" cols="6" name="descrizione" th:value="${pizza.descrizione}"></textarea>
		<br>
		<label>fotoUrl:</label>
		<input type="text" name="fotoUrl" th:value="${pizza.fotoUrl}"/>
		<br>
		<label>prezzo:</label>
		<input type="number" name="prezzo" th:value="${pizza.prezzo}">
		<br>		
		<div th:each="ingrediente : ${ingredienti}">
			<input th:id="${'ingrediente-' + ingrediente.id}" th:value="${ingrediente.id}" type="checkbox" name="ingredienti" th:checked="${pizza.ingredienti.contains(ingrediente)}">
			<label th:for="${'ingrediente-' + ingrediente.id}">[[ ${ingrediente.nome} ]]</label>
		</div>
		<button>Salva</button>
		<a class="btn btn-primary mt-3" th:href="@{/user/pizze}">indietro</a>	
	</form>

</body>
</html>